.container {
  display: flex;
  align-items: center;
  padding-top: 118px;
}

.container img {
  margin-right: 15px; /* Increase the space between image and text */
}

.container p {
  margin: 0; /* Remove default margin */
}

.timerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}

.timer {
  height: 55px; /* Adjust the height of the timer image as needed */
  padding-left: 30px;
}

.arrows {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.arrows img {
  margin-left: 10px; /* Space between the arrows */
  height: 30px;
}

/* Media query for small screens */
@media (max-width: 767px) {
  .arrows {
    display: none; /* Hide the arrows on small screens */
  }
  
  .timerContainer {
    padding-left: 0; /* Remove left padding for small screens */
  }
  
  .timer {
    height: 40px; /* Adjust the height of the timer image for small screens */
    width: auto; /* Ensure width adjusts automatically */
  }
}
