.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  transition: border 0.3s ease;
}

.product img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.product:hover {
  background-color: red;
}

.camera {
  /* Ensure camera image follows the same size constraints as others */
  max-width: 100%;
  height: 20px;
}
