.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 200px;
  }
  
  .testimonyImage {
    max-width: 70%;
    height: auto;
    padding: 10px;
  }
  