.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;

  }
  
  .categoryImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

    padding: 10px;
  }
  